.searchbar {
  background: #ffffff;
  border-radius: 0px;
  width: 560px;
  height: 60px;
  position: relative;
  box-shadow: 0px 18px 100px 0px rgba(161, 161, 161, 0.25);
  color: #222;
  font-family: Google Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bar {
  position: relative;
  margin-right: 29% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0;
}
.searchbar-img {
  position: absolute;
  margin-right: 20px;
}

.blog_content {
  color: #777;
  text-align: center;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  display: block;
}

.category {
  margin: 50px 0;
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}
.blog-category_item {
  background: #eeeeed;
  border-radius: 7px;
  display: inline-flex;
  padding: 9px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.blog-category-text {
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none !important;
}
.popularity {
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blog-links{
  display: flex;
  justify-content: center;
  align-items: center;
}