body {
  font-family: Google Sans;
  box-sizing: border-box;
  display: block;
  background: #f5f5f5;
}
h1 {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 76.229px;
  font-style: normal;
  font-weight: 700;
}
p {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 21.766px;
  font-style: normal;
  font-weight: 400;
}
nav {
  justify-content: space-between;
  position: relative;
  margin: 2.5rem 0 2.5rem;
}

nav a {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
}
.nav-center {
  display: flex;
  flex-basis: auto;
  justify-content: space-around;
}
.navbar-elements {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
}
.coupon {
  color: #e84741;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
  display: flex;
}
.navbar-nav {
  justify-content: space-between;
}

.acount {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 18.302px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.366px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.g {
  color: #e84741;
}

.d {
  color: #0a7cc0;
  margin-inline: -10px;
}

.g1 {
  color: #00954b;
}

.arrow-space {
  display: flex;
  align-items: center;
  margin-bottom: -130px;
}

.devider {
  width: 474.5px;
  border-top: 2px solid #fab60f;
  margin-top: 28px;
}

.sub-paragraph {
  margin-top: 32px;
}
.transition {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.notFound-title {
  color: #2c2c2c;
  font-family: Google Sans;
  font-size: 221px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.notFound-button {
  position: relative;
  border-radius: 33.27px;
  background-color: #2c2c2c;
  width: 418.61px;
  height: 66.53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16.633663177490234px 21.069307327270508px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  font-size: 26.26px;
  color: #fff;
}
.notFound-body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.vector-icon {
  position: relative;
  width: 23.84px;
  height: 23.84px;
  align-items: center;
}
.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.beni {
  color: #777;
}
.eve-gtr {
  text-decoration: underline;
}
.beni-eve-gtr-container {
  font-size: 22.15px;
  font-weight: 500;
  text-align: center;
  color: #272727;
  margin-top: 35px;
}
.notFoundbutton-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #fff;
}
.notFound-color {
  color: #272727;
}

.sponsorluk-cont {
  text-align: center;
}
.sponsorluk {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-family: Google Sans;
  font-size: 46.95px;
  line-height: 59.72px;
  color: #060604;
}
.sponsorluk-sub {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 25.36px;
  align-items: center;
  color: #060604;
}

.pricing-table-2 {
  border: 3px solid #e5e3e3;
  border-radius: 10px;
  text-align: center;
  padding: 38px 0 40px;
  transition: 0.3s ease-in;
  margin-bottom: 30px;
  &:hover {
    border-color: #197beb;
  }
  .price-header {
    .title {
      color: #282828;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 25px;
    }
    .icon {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 40px;
      color: #197beb;
    }
    .price {
      font-size: 50px;
      line-height: 60px;
      color: #282828;
      font-weight: 600;
      margin-bottom: 25px;
      .dollar {
        font-size: 33px;
        line-height: 33px;
        position: relative;
        top: -12px;
      }
      .month {
        font-size: 22px;
        line-height: 23px;
      }
    }
  }
  .price-footer {
    margin-top: 40px;
    .order-btn {
      display: inline-block;
      width: 165px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 2px solid #197beb;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 25px;
      color: #282828;
      transition: 0.3s ease-in;
      font-weight: 600;
      text-decoration: none;
      i {
        font-size: 13px;
        padding-left: 2px;
      }
      &:hover {
        background-color: #197beb;
        color: #fff;
        border-color: #197beb;
      }
    }
  }
  .price-body ul {
    margin: 0;
    padding: 0;
    .li {
      list-style: none;
      display: block;
      color: #8997a7;
      margin: 27px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.sponsors-list-item {
  margin: 27px 0;
  color: #8997a7;
  list-style-type: none;
}
.order-btn:hover {
  background-color: #197beb;
  color: #fff !important;
  border-color: #197beb;
}
.plan-container {
  margin-top: 55px;
}

.searchbar {
  background: #ffffff;
  border-radius: 0px;
  width: 560px;
  height: 60px;
  position: relative;
  box-shadow: 0px 18px 100px 0px rgba(161, 161, 161, 0.25);
  color: #222;
  font-family: Google Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bar {
  position: relative;
  margin-right: 29% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0;
}
.searchbar-img {
  position: absolute;
  margin-right: 20px;
}

.blog_content {
  color: #777;
  text-align: center;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  display: block;
}

.category {
  margin: 50px 0;
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}
.blog-category_item {
  background: #eeeeed;
  border-radius: 7px;
  display: inline-flex;
  padding: 9px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.blog-category-text {
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none !important;
}
.popularity {
  color: #222;
  font-family: Google Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blog-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-lg-none .btn-secondary {
  background: #ffffff;
  border: none;
  border-radius: 0px;
  width: 100%;
  height: 60px;
  box-shadow: 0px 18px 100px 0px rgba(161, 161, 161, 0.25);
  color: #222;
  font-family: "Google Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 15px;
  padding-right: 50px;
  position: relative;
  cursor: pointer;
}

/* Kategori Dropdown İkon */
.d-lg-none .btn-secondary::after {
  content: "\f078"; /* Font Awesome chevron-down icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}
.blog-line{
  margin-left: 20px; 
  width: 91%;
}
.blog-input{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.blog-text{
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  nav {
    margin: 1rem 1rem;
  }
  h1 {
    font-size: 50px;
  }
  .nav-center {
    display: block;
    flex-basis: content;
  }
  .acount {
    text-align: left;
    display: contents;
  }
  .nav-link {
    margin-top: 0.5rem;
  }
  .links {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .link-item {
    margin-top: 10px;
  }
  .main-img {
    padding: 0 !important;
    max-width: 93%;
    text-align: center;
  }
  .devider {
    width: 93%;
  }
  .transition {
    display: flex;
    justify-content: space-around;
    margin: 25% 0 0 0;
  }
  .container-left {
    width: 100%;
  }
  .notFound-button {
    width: 363px;
  }
  .notFound-title {
    font-size: 200px;
  }
  .found-image {
    padding: 0;
  }
  .blog-line {
    margin-left: 10px;
    width: 70%;
  }
  .popularity{
      margin-bottom: 25px;
  }
  .searchbar{
    font-size: .8rem;
    height: 40px;
    width: 19px !important;
  }
  .blog-btn{
    padding: 0;
    width: 100px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
  .blog-text{
    padding: 25px !important;
    width: auto;
    font-size: 20px;
  }
}
